body {font-family: arial; font-size: 20px; color: #ff0000}
.header{font-weight: bold; text-decoration: underline; color: #3ce532; text-align: center; padding-bottom: 20px }


/* THIS IS THE STARTING POINT OF THE BACKGROUND*/
	/* LOL, THIS DIDN'T WORK. TRYING SOMETHING ELSE*/
	/* DID IT IN HTML, WORKS GREAT*/
/* THIS IS THE ENDING POINT OF THE BACKGROUND*/

/* THIS IS THE STARTING POINT OF THE NAV BAR*/
nav {
  background-color:#645463;
  height:50px;
  -webkit-border-top-left-radius: 0px;
-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 15px;
border-top-left-radius: 0px;
border-top-right-radius: 15px;
border-bottom-right-radius: 0px;
border-bottom-left-radius: 15px;
}
 
 
nav ul {
  font-family: Arial, Verdana;
  font-size: 25px;
  /*margin: 15;*/
  padding: 0;
  list-style: none;
  margin-left:95;
  margin-right:25;
  width:100%;
}
 
nav ul li {
  display: block;
  position: relative;
  float: left;
 
}
 
nav li ul { 
  display: none; 
}
 
nav ul li a {
  display: block;
  text-decoration: none;
  padding: 7px 15px 3px 15px;
  background: #645463;
  color: #ffffff;  
  margin-left: 1px;
  white-space: nowrap;
  height:40px; /* Width and height of top-level nav items */
  width:110px;
  text-align:center;
 
}
 
nav ul li a:hover { 
  background: #617F8A; 
}
 
nav li:hover ul {
  display: block;
  position: absolute;
  height:40px;
}
 
nav li:hover li {
  float: none;
  font-size: 11px;
 
}
 
nav li:hover a { 
  background: #3A464F; 
  height:30px; /* Height of lower-level nav items is shorter than main level */
}
 
nav li:hover li a:hover { 
  background: #95A9B1; 
}
 
nav ul li ul li a {
    text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
 
/* THIS IS THE ENDING POINT OF THE NAV BAR*/

/* THIS CENTERS THE DNA MUTATIONS BLOCK */
#DNABlock {
  width: 900px ;
  margin-left: auto ;
  margin-right: auto ;
}
/* END DNA BLOCK */

/* THIS CENTERS THE PROTEIN MUTATIONS BLOCK */
#ProteinBlock {
  width: 900px ;
  margin-left: auto ;
  margin-right: auto ;
}
/* END PROTEIN BLOCK */

/* THIS CENTERS THE CONCLUSION BLOCK */
#ConclusionBlock {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}
/* END CONCLUSION BLOCK */

/* THIS CENTERS THE NAVBAR BLOCK */
#navbar {
  width: 910px ;
  margin-left: auto ;
  margin-right: auto ;
}
/* END NAVBAR BLOCK */